# Created by https://www.toptal.com/developers/gitignore/api/java
# Edit at https://www.toptal.com/developers/gitignore?templates=java

### Java ###
# Compiled class file
*.class

# User account file
*.properties

# Log file
*.log

# Package Files #
*.jar
*.zip

# End of https://www.toptal.com/developers/gitignore/api/java
